@import "tailwindcss";
@import "../node_modules/preline/variants.css";
@import "primeicons/primeicons.css";


@plugin "@tailwindcss/forms"; 

@theme {
  --color-background: #f9fafb;
  --color-primary1: #023f26;

  --color-success: #54b14e;
  --color-success-light: #bffdb5;
  --color-success-dark: #40803a;
  --color-success-active: #467a46;

  --color-warning: #da7010;
  --color-warning-light: #ffebd5;
  --color-warning-dark: #b35400;
  
  --color-danger: #ed3535;
  --color-danger-light: #ffdede;
  --color-danger-dark: #b32626;

  --font-primary: "Mongolian Baiti", sans-serif;
  --font-secondary: "Metrophobic", sans-serif;
}

body {
  font-family: var(--font-primary);
  overflow-x: hidden;
}

input:invalid:not(:placeholder-shown) {
  border-color: var(--color-danger);
  outline: none;
}






